body {font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0; background: linear-gradient(#9100ca, #220030); height: 100vh; padding-top: 10px;}

.arriba-pagina {text-align: center; width: 800px; margin: auto; font-size: 2rem; background: #220030; border-radius: 10px; padding: 1px; color: #fff;}
.centro-pagina {height: 80vh; display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 10px;}

.caja {color: #000; border: 4px solid #000; width: 500px; text-align: center; border-radius: 10px; background: #b1f1dc; font-size: 1.5rem; ;}
.caja a {text-decoration: none; color: #000;}
.caja a h1:hover, .caja a p:hover {transform: scale(1.1);}

